html,body{
	width:100%; height:100%; font-family:"微软雅黑";
}
html,body,a,p{
	border:0px; padding:0px; margin:0px;
}
.nav{
	float:left; list-style:none;
}
.nav li{
	padding-left:20px; padding-right:20px; float:left; border-right:1px solid #FFF;
}
.nav li a{
	display:block; width:100%; height:100%; float:left; color:#fff; text-decoration:none; line-height:18px; font-size:14px;
}
.nav li a:hover{
	color:#FC3;
}
#chose a{
	color:#FC3;
}
/*<!--头部-->*/
.header{
	width:100%; height:50px; background-color:#000; margin-top:25px;
}
.headerCenter{
	width:740px; margin:auto;
}
.logo{
	margin-top:-20px; float:left;
}


/*<!--脚部-->*/
.footer{
	width:100%; height:60px; background-color:#000; padding-top:20px; padding-bottom:20px; line-height:30px; text-align:center; color:#F90;
}


/*Artist_Info*/

.Artist_Info_css_0{width:740px; margin:auto; min-height:100px; margin-top:50px;}

.Artist_Info_css_1{width:100%; height:50px;}

.Artist_Info_css_2{width:100%; height:160px;}

.Artist_Info_css_3{text-align:left; width:200px; float:left;  color:#999; line-height:30px;}

.Artist_Info_css_4{color:#000;}

.Artist_Info_css_5{float:left; margin-left:20px;}

.Artist_Info_css_6{width:100%; height:1px; background-color:#000; text-align:left; font-size:20px; line-height:20px;}

/*shop*/


.shop_css_0{width:740px; margin:auto; min-height:600px; margin-top:100px;}

.shop_css_1{float:left; width:240px;}

.shop_css_2{width:160px; text-align:center; line-height:40px; background-color:#000; margin:auto; color:#fff;}

.shop_css_3{width:100%; height:20px;}

.shop_css_4{float:left; width:480px; border:1px solid #000; text-align:center;}

.shop_css_5{width:180px; float:left; text-align:center;}

.shop_css_6{width:120px; text-align:center; line-height:30px; background-color:#000; margin:auto; color:#fff;}

.shop_css_7{width:300px; float:left; font-size:14px; line-height:25px; text-align:left;}

.shop_css_8{color:#F00;}

.shop_css_9{width:90%; height:1px; background-color:#000; clear:both; margin:auto;}

/*Graphic Project*/
.img_chose{
	width:18px; height:18px; border-radius:10px; border:1px solid #000; background-color:#fff; float:left; margin-left:10px; cursor:pointer;
}

.shows_css_0{width:740px; margin:auto; min-height:100px; margin-top:50px;}

.shows_css_1{width:100%;}

.shows_css_2{width:100%; height:50px;}

.shows_css_3{width:100%; height:1050px;}

.shows_css_4{width:250px; float:left;}

.shows_css_5{float:left; width:124px; border-right:1px solid #000; height:200px;}

.shows_css_6{padding-right:20px; padding-top:50px; text-align:right; line-height:50px;}

.shows_css_7{float:left; width:125px; height:200px;}

.shows_css_8{padding-left:20px; padding-bottom:50px; line-height:50px;}

.shows_css_9{width:480px; float:right;}

.shows_css_10{width:195px; height:250px; float:right;}

.shows_css_11{text-align:center; font-size:14px; color:#333; line-height:50px;}

.shows_css_12{width:195px; height:250px; float:right; margin-right:50px;}

.shows_css_13{ width:100%; height:10px; clear:both;}

/*artists*/

.artists_css_0{width:740px; margin:auto; min-height:100px; margin-top:50px;}

.artists_css_1{width:100%;}

.artists_css_2{width:100%; height:20px;}

.artists_css_3{width:100%; height:auto;}

.artists_css_4{  color:#000; padding:50px; line-height:30px; color:#999;}

/*home页面样式*/
.img_chose{
	width:18px; height:18px; border-radius:10px; border:1px solid #000; background-color:#fff; float:left; margin-left:10px; cursor:pointer;
}

.home_css_0{width:740px; margin:auto; min-height:100px; margin-top:50px;}

.home_css_1{width:100%;}

.home_css_2{width:100%; height:50px;}

.home_css_3{width:100%; height:20px;}

.home_css_4{width:120px; margin:auto;}

.home_css_5{width:100%; height:1px; background-color:#000; text-align:left; font-size:20px; line-height:20px;}

.home_css_6{float:left; margin-top:-10px;}

.home_css_7{width:100%; height:120px;}

.home_css_8{float:left; margin-left:80px;}

.home_css_9{ padding-right:50px; text-align:right; color:#999; line-height:120px;}

.home_css_10{float:right; color:#000;}

.home_css_11{width:100%; height:240px;}

.home_css_12{ padding-right:50px; text-align:right; color:#999; line-height:240px;}

.home_css_13{float:left; margin-left:80px; margin-top:30px;}

.home_css_14{ float:right; text-align:center; width:50%; padding-right:20px;  color:#000; line-height:30px;}

.home_css_15{ float:right; text-align:center; width:50%; padding-right:20px;  color:#999; line-height:30px;}

.home_css_16{width:100%; height:160px;}

.home_css_17{float:right; margin-left:10px; }

.home_css_18{ float:left; text-align:center; width:86%; padding-top:10px;   color:#999; line-height:30px;}

.home_css_19{margin:auto; margin-top:20px;}

.home_css_20{text-align:center;  color:#999; line-height:30px;}

.home_css_21{color:#000;}

/*Photography*/
.img_chose{
	width:18px; height:18px; border-radius:10px; border:1px solid #000; background-color:#fff; float:left; margin-left:10px; cursor:pointer;
}

.news_css_0{width:740px; margin:auto; min-height:100px; margin-top:50px;}

.news_css_1{width:100%;}

.news_css_2{width:100%; height:50px;}

.news_css_3{width:100%; height:20px;}

.news_css_4{width:120px; margin:auto;}

.news_css_5{width:100%; height:auto; line-height:30px; color:#777;}

.news_css_6{color:#000;}

.news_css_7{width:100%; height:30px;}

.news_css_8{width:100%; height:1px; background-color:#000; text-align:left; font-size:20px; line-height:20px;}
