h1{
  color:Black;
}

h2{color:Darkred;
  font-size: 50px;
  border:3px dotted #3455d2;
border-color: Darkred;


}

  p{color:White

  }


#first
{color:darkred;
font-style: italic;}


.highlight{background-color: lightblue;
}
