h1 {
  color: black;
  font-size:40px;
}


h2{color:rgb(100,0,0);
    font-size:30px;}


p{
  font-size:20px;
  font-style:italic;
  font-weight:normal;

  border: 5px dotted #0033d2;
  border-color: Darkred;
  letter-spacing:3px;
}

#first{
  border-color:Darkred;
  line-height: 29px;
  font style:Helvetica;

}
p2{font-size:20px;
color: darkred;
font-style:Helvetica;
border: 2px dotted #0033d2;
border-color: Darkred;
letter-spacing:3px;}


.highlight{background-color: lightblue;
}
