#right-column{
  width:400px;
  height:300px;
  background-color: #FF4136;
  float:left;
  position: relative;
    top: 1;
    right: 10px;
}

h1{
  font-family: system-ui;
  color: #DDDDDD;
  top: 70;
  right: -30px;
  left: 40px;
  float:  none;
  position: relative;
}
li{
  font-family: "Gill Sans", sans-serif;
  color: #DDDDDD;
  right: 90px;
  left: -400px;
  width:450px;
  height:40px;

}

#left-column{
  position: relative;
  width:550px;
  height:400px;
  background-color:#001f3f;
  float: left;
}

#footer{
  width:500px;
  height:300px;
  background-color: #3D9970;
  float: bottom;
}
